<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <p>I am a highly motivated and detail oriented, aspiring cybersecurity professional with a strong foundation in software engineering, networking, and data science. My technical skill set includes Python, SQL, and SCALA, and I excel at problem-solving and analytical thinking. With excellent communication and time management skills, I thrive in fast-paced environments requiring adaptability and precision. Having personally experienced a data breach, I am deeply passionate about strengthening digital security to protect individuals and organizations from cyber threats. I am eager to apply my skills and dedication to help organizations enhance their security posture, mitigate risks, and create safer digital environments.</p>
        
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, SQL, SCALA (BigQuery, MySQL)<br>
              <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (WireShark, Tcpdump, Nmap), IDS/IPS (Suricata)<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis (IDS/IPS), Log Analysis, Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Google Workspace, Microsoft Suite, Slack, Visual Studio Code, Github<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure <br></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <a href="https://docs.google.com/document/d/1Vout_4oyWrIjB6Y15rjS7Nuf7NZrwLHfiGHq1I1WJpE/edit?usp=sharing" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
